body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.full-header, .footer{
    background-color: #1F2937;
}
.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 4px;
}
.hero-secondary-text, a{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 24px;
}
a{
    text-decoration: none;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}
button, .action{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    padding: 8px 24px;
}
button{
    font-weight: bold;
    font-size: 16px;
}
.information p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quote{
    background-color: #E5E7EB;
}
.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.cards-img{
    border: 2px solid steelblue;
    border-radius: 3px;
    width: 200px;
    height: 200px;
}
.hero-img{
    width: 400px;
    height: 200px;
}
.full-header{
    padding: 0 150px 50px 150px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.links{
    display: flex;
    gap: 24px;
}
.hero{
    display: flex;
    gap: 48px;
}
