body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.full-header, .footer{
    background-color: #1F2937;
}
.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 4px;
}
.hero-secondary-text, a{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 24px;
}
a{
    text-decoration: none;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}
button, .action{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    padding: 8px 24px;
}
button{
    font-weight: bold;
    font-size: 16px;
}
.information p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quote{
    background-color: #E5E7EB;
    padding: 50px 250px;
    
}
.quote-text{
    font-size: 36px;
    color: #1F2937;
}
.cards-img{
    border: 2px solid steelblue;
    border-radius: 3px;
    width: 200px;
    height: 200px;
}
.hero-img{
    width: 400px;
    height: 200px;
}
.full-header, .footer{
    padding: 10px 150px 50px 150px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.links{
    display: flex;
    gap: 24px;
}
.hero{
    display: flex;
    gap: 48px;
}
.information p{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.text{
    text-align: center;
    margin: 0 auto;
}
.information{
    padding: 10px 200px 50px 200px;
}
.footer{
    text-align: center;
    padding: 20px 0 20px 0;
    color: #E5E7EB;
}
.person{
    font-weight: bolder;
    font-size: 18px;
    text-align: end;
    padding-top: 4px;
}
.action{
    margin: 50px 200px 50px 200px;
    display: flex;
    justify-content: space-between;
    padding: 26px 56px;
}
.action-title{
    font-weight: bolder;
    padding-bottom: 6px;
}
.card-one, .card-two, .card-three, .card-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}